{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}

<h2>Edit Post</h2>

<form action="/posts/{{post.id}}/edit" method="POST">
    <label for="title">Title</label><br>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter a Title"
        value="{{post.title}}"><br>
    <label for="content">Content</label><br>
    <textarea class="form-control" name="content" id="content">{{post.content}}</textarea><br>
    {% for tag in tags %}
    <input type="checkbox" id="tag" name="tag" value="{{tag.id}}" {% if tag in post.tags %}checked{% endif %}>
    <label for="tag">{{tag.name}}</label><br>
    {% endfor %}
    <a class="btn btn-danger m-2" href="/users/{{post.user.id}}">Cancel</a>

    <button class="btn btn-outline-success" type="submit">Edit</button>
</form>

{% endblock %}